<div class="navbar">
    <div class="left">
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">portfolio</a>
        <a routerLink="galleries" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">galleries</a>
    </div>
    <div class="center">
        <p>BAGLEY</p>
        <p class="thin">PHOTO</p>
    </div>
    <div class="right">
        <a routerLink="clients" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">clients</a>
        <a routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">contact</a>
    </div>
</div>
